/*ProximaNova Regular*/
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Regular.woff);
    src: url(../fonts/ProximaNova/ProximaNova-Regular.ttf);
}

/*ProximaNova Bold*/
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Bold.woff);
    src: url(../fonts/ProximaNova/ProximaNova-Bold.ttf);
}

/*ProximaNova light*/
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Light.woff);
    src: url(../fonts/ProximaNova/ProximaNova-Light.ttf);
}

/*ProximaNova SemiBold*/
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Semibold.woff);
    src: url(../fonts/ProximaNova/ProximaNova-Semibold.ttf);
}