*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  position: relative;
  text-decoration: none;
  color: #e9e9e9;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  color: #fff;
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 24px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #162831;
}

._container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;
  height: 36px;
  width: 155px;
  background-color: #018ABE;
  border-radius: 3px;
  color: #fff;
  font-family: ProximaNova;
  font-size: 13px;
  font-weight: 600;
  line-height: 18.2px;
  cursor: pointer;
  transition: all .3s ease;
}

.button:hover {
  background-color: #007bac;
}

.text__decoration {
  display: flex;
  align-items: center;
  text-align: center;
}

.text__decoration h1 {
  margin: 0 66px;
  font-size: 42px;
  font-weight: 700;
  line-height: 58.8px;
}

.text__decoration svg {
  height: 14px;
  width: 28px;
}

/*Header*/



.header {
  position: fixed;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #162831;
}

.header__body {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  z-index: 4;
  height: 60px;
  width: 60px;
  padding: 5px 0;
}

.logo {
  width: 100%;
  height: 100%;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-right: 50px;
  color: inherit;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e9e9e9;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  position: absolute;
  top: 100%;
  left: 0;
}

.menu__item a:hover::after {
  transition: clip-path .3s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header__burger {
  display: none;
}

@media (max-width: 939px) {
  .menu__item {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .header__body .button {
    z-index: 4;
  }

  .header__logo {
    z-index: 4;
    height: 45px;
    width: 45px;
  }

  .header::before {
    z-index: 4;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    z-index: 4;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 9px;
    background-color: #fff;
    height: 2px;
    transition: all .1s ease;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .1s ease;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    opacity: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 0 15px;
    background-color: rgba(42, 75, 92, 0.5);
    transition: all .5s ease;
  }

  .header__menu.active {
    padding: 0;
    width: calc(100% - 7.24%);
    left: 15px;
    top: 0;
  }

  .menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    height: 78px;
  }

  .menu__item {
    margin: 5px;
  }

  .menu__item a {
    color: #fff;
  }
}

@media (max-width: 425px) {
  .header__menu.active {
    height: 140px;
    width: calc(100% - 7.24% + 1px);
  }
}

@media (max-width: 375px) {
  .header__menu.active {
    width: calc(100% - 7.24% - 3px);
  }
}

@media (max-width: 320px) {
  .header__menu {
    overflow: hidden;
  }

  .header__menu.active {
    width: 290px;
    height: 32%;
  }

  .menu__list {
    height: 200px;
  }

  .menu__item {
    margin: 15px;
  }
}


/*Main*/



.main__img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  background: url(./img/main_img.jpg) center no-repeat;
  background-size: cover;
  margin-top: 50px;
  border-radius: 10px;
}

.main__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 587px;
}

.main__text .text__decoration h1 {
  margin: 0 66px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.main__text .text__decoration svg {
  height: 14px;
  width: 28px;
}

.main h2 {
  margin-top: 40px;
  font-size: 64px;
  font-weight: 700;
  line-height: 89.8px;
}

@media (max-width: 459px) {
  .main__text .text__decoration h1 {
    margin: 0 33px;
  }

  .main h2 {
    margin-top: 40px;
    font-size: 54px;
    font-weight: 700;
    line-height: 89.8px;
  }
}

@media (max-width: 397px) {
  .main__text .text__decoration h1 {
    margin: 0 11px;
  }
}

@media (max-width: 357px) {
  .main__text .text__decoration svg {
    display: none;
  }

  .main h2 {
    margin-top: 40px;
    font-size: 44px;
    font-weight: 700;
    line-height: 89.8px;
  }
}



/*Types*/


.types__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.types__container .text__decoration {
  margin-bottom: 100px;
}

.types__container .text__decoration h1 {
  margin: 0 66px;
  font-size: 42px;
  font-weight: 700;
  line-height: 58.8px;
}

.text__decoration img {
  height: 14px;
  width: 28px;
}

.item__container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.item__container div {
  position: relative;
}

.item__container h1 {
  position: absolute;
  width: 336px;
  bottom: 30px;
  left: 40px;
  line-height: 33.6px;
}

.item__container div:first-child h1 {
  bottom: 43px;
}

.item__container div {
  cursor: pointer;
  transition: all .2s ease;
}

.item__container div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.item__container div::after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background-color: #018ABE;
  border-radius: 0px 0px 10px 10px;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  position: absolute;
  top: 98%;
  left: 0;
}

.item__container div:hover::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.item__container div:first-child:after {
  top: 99%;
}

.item__container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 416px);
  grid-template-rows: repeat(2, 258px);
  grid-template-areas:
    "item__high item__wide1 item__wide3"
    "item__high item__wide2 item__wide4";
  margin: 0 15px 150px;
}

.item__high {
  grid-area: item__high;
}

.item__wide1 {
  grid-area: item__wide1;
}

.item__wide2 {
  grid-area: item__wide2;
}

.item__wide3 {
  grid-area: item__wide3;
}

.item__wide4 {
  grid-area: item__wide4;
}

@media (max-width: 1024px) {
  .item__container {
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(2, 258px);
  }

  .item__container h1 {
    left: 20px;
  }
}

@media (max-width: 768px) {
  .item__container {
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(2, 240px);
  }

  .item__container h1 {
    width: 200px;
    font-size: 16px;
    left: 10px;
  }
}

@media (max-width: 425px) {
  .types__container {
    margin-top: 20px;
  }

  .item__container {
    grid-template-columns: repeat(2, 185px);
    grid-template-rows: repeat(5, 240px);
    grid-template-areas:
      "item__high item__high"
      "item__wide1 item__wide1"
      "item__wide2 item__wide2"
      "item__wide3 item__wide3"
      "item__wide4 item__wide4";
    margin-bottom: 20px;
  }

  .item__container h1 {
    width: 400px;
  }

  .types__container .text__decoration {
    margin-bottom: 20px;
  }

  .text__decoration svg {
    display: none;
  }

  .types__container .text__decoration h1 {
    margin: 0;
  }

  .item__container div:first-child:after {
    top: 98%;
  }
}

@media (max-width: 375px) {
  .item__container {
    grid-template-columns: repeat(2, 155px);
  }

  .types__container .text__decoration h1 {
    font-size: 34px;
  }

  .item__container h1 {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .item__container {
    grid-template-columns: repeat(2, 135px);
  }

  .types__container .text__decoration h1 {
    font-size: 34px;
  }

  .item__container h1 {
    width: 280px;
  }
}



/*Reviews*/



.review__container {
  display: flex;
  flex-direction: column;
}

.text__decoration {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.review {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: #018ABE;
  height: 350px;
  width: 636px;
  border-radius: 10px;
  padding: 50px 60px 56px;
  margin-bottom: 60px;
}

.review__name {
  font-size: 20px;
  font-weight: 700;
  font-family: ProximaNova;
  line-height: 28px;
  margin-bottom: 20px;
}

.review__text {
  font-family: ProximaNova;
  font-weight: 300;
  font-size: 14px;
  line-height: 19.6px;
}

@media (max-width: 425px) {
  .review {
    padding: 20px 30px 23px;
  }

  .reviews__container .text__decoration {
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .review {
    padding: 20px 30px 23px;
  }

  .review__text {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .review__name {
    margin-bottom: 10px;
  }

  .review {
    padding: 10px 15px 11px;
  }

  .review__text {
    font-size: 11px;
  }
}



/*About*/



.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1076px;
  margin-top: 150px;
}

.about__container .text__decoration {
  margin-bottom: 100px;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 824px;
  width: 100%;
}

.about__item {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
}

.about__text {
  width: 460px;
}

.about__text h1 {
  font-family: ProximaNova;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  margin-bottom: 30px;
}

.about__text h2 {
  font-family: ProximaNova;
  font-weight: 300;
  font-size: 16px;
  line-height: 22.4px;
}

.about__image {
  background: url(./img/about_img.jpg) center no-repeat;
  height: 365px;
  width: 526px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about__image {
    width: 356px;
    height: 365px;
  }

  .about__text {
    width: 360px;
  }

  .about__text h1 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .about__text h2 {
    font-size: 12px;
  }
}

@media (max-width: 426px) {
  .about__content {
    height: 724px;
  }

  .about__container {
    margin-top: 20px;
  }

  .about__container .text__decoration {
    margin-bottom: 20px;
  }

  .about__item {
    flex-direction: column;
    width: 395px;
  }

  .about__image {
    background-size: cover;
    width: 395px;
    height: 200px;
  }

  .about__text {
    text-align: center;
    width: 100%;
  }

  .about__text h1 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .about__text h2 {
    font-size: 9px;
  }
}

@media (max-width: 375px) {
  .about__content {
    height: 750px;
  }

  .about__container .text__decoration h1 {
    font-size: 36px;
  }

  .about__item {
    width: 345px;
  }

  .about__image {
    background-size: cover;
    width: 345px;
    height: 190px;
  }

  .about__text {
    width: 100%;
    height: 50%;
  }

  .about__text h1 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .about__text h2 {
    font-size: 9px;
  }
}

@media (max-width: 320px) {
  .about__content {
    height: 750px;
  }

  .about__item {
    width: 290px;
  }

  .about__image {
    background-size: cover;
    width: 290px;
    height: 190px;
  }

  .about__text {
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
  }

  .about__text h1 {
    margin-bottom: 5px;
  }

  .about__text h2 {
    font-size: 8px;
  }
}


/*Price*/



.price__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1076px;
  margin-top: 150px;
}

.price__container .text__decoration {
  margin-bottom: 100px;
}

.prices {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prices__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 416px;
}

.price__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 31px;
}

.price__item:last-child {
  margin-bottom: 0;
}

.price__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 306px;
}

.price__left img {
  width: 18px;
  height: 9px;
}

.price__left h1 {
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  width: 268px;
}

.prices__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 455px;
}

.price__image {
  background: url(./img/price_img.jpg) center no-repeat;
  width: 526px;
  height: 396px;
  border-radius: 10px;
}

.gift {
  text-align: center;
}

@media (max-width: 768px) {
  .price__item {
    width: 352px;
  }

  .price__left h1 {
    width: 228px;
  }

  .price__left {
    width: 255px;
  }

  .prices__right {
    height: 400px;
  }

  .price__image {
    width: 356px;
    height: 356px;
  }
}

@media (max-width: 425px) {
  .price__container {
    margin-top: 20px;
  }

  .price__container .text__decoration {
    margin-bottom: 20px;
  }

  .prices {
    align-items: center;
    flex-direction: column;
    height: 680px;
  }

  .price__item {
    width: 100%;
  }

  .prices__text {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .price__left h1 {
    font-size: 15px;
  }

  .price__container .text__decoration h1 {
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  .price__container .text__decoration h1 {
    margin: 0;
    font-size: 30px;
  }

  .price__item h1 {
    width: 200px;
    font-size: 16px;
  }

  .price__item {
    margin-bottom: 10px;
  }

  .prices {
    height: 480px;
  }

  .prices__right {
    height: 300px;
  }

  .price__image {
    width: 100%;
    height: 256px;
  }

  .price__left h1 {
    font-size: 14px;
  }
}



/*Footer*/



.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.map {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.iframe {
  border: 0;
}

.on__map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 604px;
}

.place {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}

.map__item button {
  background-color: #fff;
  color: #018ABE;
}

.map__item button:hover {
  background-color: rgb(226, 226, 226);
}

.place div {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.place h2,
h3,
h4 {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  width: 262px;
  margin: 0;
}

.map__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
  width: 392px;
  background-color: #018ABE;
  border-radius: 10px;
  padding: 35px 45px;
}

@media (max-width: 1024px) {
  .map {
    width: 57%;
  }

  .on__map {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .map {
    width: 50%;
  }

  .on__map {
    width: 48%;
  }

  .map__item {
    width: 352px;
  }

  .place h2,
  h3,
  h4 {
    width: 230px;
  }
}

@media (max-width: 425px) {
  .map {
    display: none;
  }

  .on__map {
    width: 100%;
  }

  .on__map {
    align-items: center;
    justify-content: space-between;
  }

  .footer__container {
    margin-top: 60px;
  }
}

@media (max-width: 320px) {
  .on__map {
    width: 100%;
  }

  .map__item {
    width: 300px;
  }

  .place h2,
  h3,
  h4 {
    width: 180px;
  }
}

/*Footer Licence*/


.licence__container {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 30px;
}

.licence__container h1,
h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  font-family: ProximaNova;
}

.licence__container a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  font-family: ProximaNova;
}

@media (max-width: 425px) {
  .licence__container {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.slider {
  position: relative
}

.slider__container {
  overflow: hidden;
}

.slider__items {
  display: flex;
  transition: transform .5s ease
}

.slider_disable-transition {
  transition: none
}

.slider__item {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none
}

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .5);
  background-clip: padding-box;
  border-radius: 3px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent
}

.slider__indicators li.active {
  background-color: rgba(255, 255, 255, .9)
}